MYSQL_DSN="db_user@/db_name?charset=utf8&parseTime=True&loc=Local"
REDIS_ADDR="127.0.0.1:6379"
REDIS_PW=""
REDIS_DB=""
SESSION_SECRET="setOnProducation"
GIN_MODE="debug"
LOG_LEVEL="debug"
NEO4J_ADDR="bolt://124.70.23.171/:7687"
NEO4J_USER="neo4j"
NEO4J_PW="neo4j"